{% extends "drawer.html" %}
{% import "drawer.html" as drawer %}
{% block title %}服务器Properties{% endblock %}
{% block pagename %}服务器Properties{% endblock %}
{% block body %} 
{{ super() }}
<div class="mdui-row">
    <div class="mdui-col-sm-6 mdui-col-md-10">
    <div class="mdui-card" style="background-color: rgba(255, 255, 255, 0.5)">
        <div class="mdui-card-primary">
            <div class="mdui-card-primary-title"><font style="size:20mm;">服务器Properties</font></div>
          </div>
    <div class="mdui-card-content">
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="mdui-textfield">
                {{ form.edit(class="mdui-textfield-input",placeholder="服务器Properties") }}
            </div>
            {{ form.submit(class="mdui-btn mdui-btn-raised") }}
            
        </form>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
{% block items %}
    {{ drawer.drawer_item_admin("用户","/user/",user) }}
{% endblock %}